@charset "UTF-8";
/*
    grey -> rgb(130,130,160);
*/

.container{
    max-width: 970px;
    /*margin-top: 150px;*/
}

#main.pubOn .item-caption{
    height: 100px;
    padding: 15px;
}

#shakerpedia input{
    background-color:rgb(244,176,39);
    background-image: url('../img/shakerpedia3.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 4px 0 rgba(255,0,0,.3) inset;
}
.pubOff #shakerpedia input{
    padding:75px;
}.pubOn #shakerpedia input{
    padding:50px;
}