
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags pages_tags staticfiles %}

<!doctype html>
<html lang="fr">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="Accueil">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.override.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/temp.css' %}">
{% if pub %}<link rel="stylesheet" href="{% static 'css/pub.css' %}">{% endif %}
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

</head>

<body>

{% if habillage != 'empty' %}
    {% if habillage.lien != '' %}
        <a href="{{ habillage.lien }}" target="blank"><div id='pubLayer' style="background-image: url('{{ MEDIA_URL }}publicite/{{ habillage.media }}');"></div></a>
    {% else %}
        <a target="blank"><div id='pubLayer' style="background-image: url('{{ MEDIA_URL }}publicite/{{ habillage.media }}');"></div></a>
    {% endif %}
{% endif %}

<div class='container {% if habillage %}habillageOn{% endif %}'>
    <div class="text-center">
        <div class='sideBar-layer'>
            <div class='sideBar-top'></div>
            <div class='sideBar-bottom'></div>
        </div>
        <img id='logo' src='{% static 'img/logo.png' %}' alt='logo'/>
        <div class='sideBar-layer'>
            <div class='sideBar-top'></div>
            <div class='sideBar-bottom'></div>
        </div>
    </div>

    <div id='layer-navbar' class='{% if not habillage %}container{% endif %}'>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <!-- <a class="navbar-brand" href="#" style='padding: 0'><img src='img/logo.jpg' style='max-height: 60px'/></a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/articles/category/news/">
                    NEWS <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li><a href='/articles/category/bar-de-france/'>BAR DE FRANCE</a></li>
                <li><a href='/articles/category/portrait-de-barman/'>PORTRAIT DE BARMAN</a></li>
                <li><a href='/bar-du-monde/'>BARS DU MONDE</a></li>
                <li><a>SHAKERPEDIA</a></li>
            </ul>
            <ul id='search' class="nav navbar-nav navbar-right">
                <li class='text-center' style='min-width: 70px;background-color:rgb(80,80,100)'><a id='test' style='color: white'><i class='fa fa-search-plus fa-2x'></i></a>
                </li>
                <li>
                <form  id='test-click' class="navbar-form hide" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </div>

    <div id='main' class='{% if sidePub %}col-md-9 pubOn{% else %}col-md-12 pubOff{% endif %}'>
    {% block main %}
    {% endblock %}
    </div>
    {% if sidePub %}
    <div id='sidePub' class='col-md-3'>
        {% if square %}
        <a href='{{ square.lien }}' target='blank' />
            <img src='{{ MEDIA_URL }}publicite/{{ square.media }}' alt='square' />
        </a>
        {% endif %}
        {% if colonne %}
        <a href='{{ colonne.lien }}' target='blank' />
            <img src='{{ MEDIA_URL }}publicite/{{ colonne.media }}' alt='colonne' />
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>

<footer id='footer'><footer>

</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>

