{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags pages_tags staticfiles %}

{% block main %}


    {% if user.is_authenticated %}
    {% endif %}
    
    {% for blog_post in blog_post_list %}
    {% if  forloop.counter == 1 %}
        <a href="{{ blog_post.get_absolute_url }}">
            <div class='col-md-8 item double-item'>
                <div class='item-primary-layer'>
                    <div class='layer-img'>
                        <img src='{{ MEDIA_URL }}{%  thumbnail blog_post.featured_image 550 550 %}' />
                    </div>
                    <div class='item-caption'>
                        <h3>{{ blog_post.title|truncatechars:50 }}</h3>
                        {% if blog_post.baseline %}
                            <p>{{ blog_post.baseline|richtext_filters|safe|truncatechars:70 }}</p>
                        {% endif %}
                    </div>
                    <div class='arrow'></div>
                </div>
                <div class='item-secondary-layer text-center'>
                    <div class='secondary-caption'>
                        <i class='fa fa-plus-circle fa-3x'></i> 
                    </div>
                </div>
            </div>
        </a>
        <a href='{{ last_bar_du_monde.get_absolute_url }}'>
            <div class='col-md-4 item triple-item pull-right'>
                <div class='item-primary-layer'>
                    <div class='layer-img'>
                        <img src='{{ MEDIA_URL }}{%  thumbnail last_bar_du_monde.illustration.url 250 300 %}' />
                    </div>
                    <div class='item-caption'>
                        <h5>LES PLUS BEAUX BARS DU MONDE</h5>
                        {{ last_bar_du_monde.title|capfirst }} 
                    </div>
                    <div class='arrow'></div>
                </div>
                <div class='item-secondary-layer text-center'>
                    <div class='secondary-caption'>
                        <i class='fa fa-plus-circle fa-3x'></i> 
                    </div>
                </div>
            </div>
        </a>
        <div id='shakerpedia' class='col-md-8 text-center pull-left'>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="_">
        </div>
    {% else %}
        <a href="{{ blog_post.get_absolute_url }}">
            <div class='item 
                {% if forloop.counter == 3 %}
                    col-md-4 double-item item-dark
                {% elif forloop.counter < 5 %}
                    col-md-4 double-item
                {% elif forloop.counter == 5 %}
                    col-md-8 double-item pull-right
                {% elif forloop.counter == 6 %}
                    col-md-4 half-item item-dark
                {% elif forloop.counter < 8 %}
                    col-md-4 pull-left
                {% elif forloop.counter == 8 %}
                    col-md-8 triple-item pull-right
                {% elif forloop.counter > 8 %}
                    col-md-4 pull-left
                {% endif %}'>
                <div class='item-primary-layer'>
                    <div class='layer-img'>
                         <img src='{{ MEDIA_URL }}{%  thumbnail blog_post.featured_image 300 400 %}' />
                    </div>
                    <div class='item-caption'>
                        <h5>{{ blog_post.title|truncatechars:30 }}</h5>
                        {% if blog_post.baseline %}
                            <p>{{ blog_post.baseline|richtext_filters|safe|truncatechars:40 }}</p>
                        {% endif %}
                    </div>
                    <div class='arrow'></div>
                </div>
                <div class='item-secondary-layer text-center'>
                    <div class='secondary-caption'>
                        <i class='fa fa-plus-circle fa-3x'></i> 
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
    {% endfor %}
{% endblock %}
